body {
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  width: 100%;
  height: 100%;
  font-size: 1rem;
  background-color: #dcdcdd;
  color: black;
}

@media (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 1.3rem;
  }
}

hr {
  border: 0.5px solid #656768;
  margin: 0.2rem 0 0;
}

:focus,
button:focus {
  outline: #3f7f7a auto 3px;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f5f5;
  /* change if the mask should be a color other than white */
  z-index: 1000;
  /* makes sure it stays on top */
}

.pre-container {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
          animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.nav-footer {
  font-weight: 300;
}

.nav-footer a {
  color: #4b4b4b;
}

.nav-footer a:hover {
  color: #3f7f7a;
  text-decoration: none;
}

.dropdown-item:hover, .dropdown-item:active, .dropdown-item.active {
  color: #3f7f7a;
  background-color: transparent;
}

#mainNav {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  background-color: #dcdcdd;
}

#mainNav .navbar-brand {
  font-weight: bold;
  color: #4b4b4b;
}

#mainNav li {
  list-style: none;
}

#mainNav ul {
  padding: 0;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #4b4b4b;
  font-weight: normal;
  padding: 0.3rem 0;
}

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active, #mainNav .navbar-nav .nav-item .nav-link.active {
  color: #3f7f7a;
}

#mainNav .navbar-nav .nav-item .dropdown-menu {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #dcdcdd;
  border: 0;
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: #3f7f7a;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav .navbar-nav .nav-item .dropdown-menu {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
  }
  #mainNav.navbar-scrolled {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #dcdcdd;
  }
  #mainNav.navbar-scrolled .navbar-brand {
    color: #4b4b4b;
  }
  #mainNav.navbar-scrolled .dropdown-menu {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #dcdcdd !important;
    border: 0;
  }
}

#masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(220, 220, 221, 0.6)), to(rgba(220, 220, 221, 0.6))), url("../img/Profile.JPG");
  background: linear-gradient(to bottom, rgba(220, 220, 221, 0.6) 0%, rgba(220, 220, 221, 0.6) 100%), url("../img/Profile.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

#masthead h1 {
  font-size: 2.25rem;
}

@media (min-width: 992px) {
  #masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 72px;
    padding-bottom: 0;
  }
  #masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  #masthead h1 {
    font-size: 3.5rem;
  }
}

#masthead_portfolio {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
}

#masthead_portfolio h1 {
  font-size: 2.25rem;
}

#masthead_portfolio .breadcrumb {
  background: none;
  padding: 8px 0;
}

#masthead_portfolio .breadcrumb .active {
  color: #3f7f7a;
}

#masthead_portfolio .breadcrumb-item {
  color: #4b4b4b;
}

#masthead_portfolio .breadcrumb-item a {
  color: #4b4b4b;
}

#masthead_portfolio .breadcrumb-item a:hover {
  color: #3f7f7a;
  text-decoration: none;
}

@media (min-width: 992px) {
  #masthead_portfolio {
    min-height: 20rem;
    padding-top: calc(72px+10rem);
    padding-bottom: 0;
  }
  #masthead_portfolio h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  #masthead_portfolio h1 {
    font-size: 3.5rem;
  }
}

.illustrations {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(220, 220, 221, 0.6)), to(rgba(220, 220, 221, 0.6))), url("../img/Illustrations/Japan_Countryside_.jpg");
  background: linear-gradient(to bottom, rgba(220, 220, 221, 0.6) 0%, rgba(220, 220, 221, 0.6) 100%), url("../img/Illustrations/Japan_Countryside_.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.book {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(220, 220, 221, 0.6)), to(rgba(220, 220, 221, 0.6))), url("../img/book/Japan_book1.png");
  background: linear-gradient(to bottom, rgba(220, 220, 221, 0.6) 0%, rgba(220, 220, 221, 0.6) 100%), url("../img/book/Japan_book1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

#masthead_project {
  padding-top: 8rem;
  padding-bottom: calc(8rem - 72px);
  font-weight: 300;
}

#masthead_project h1 {
  font-size: 2.25rem;
  font-weight: 300;
}

#masthead_project .category {
  font-size: 0.8rem;
}

#masthead_project .breadcrumb {
  background: none;
  padding: 8px 0;
}

#masthead_project .breadcrumb .active {
  color: #3f7f7a;
}

#masthead_project .breadcrumb-item {
  color: #4b4b4b;
}

#masthead_project .breadcrumb-item a {
  color: #4b4b4b;
}

#masthead_project .breadcrumb-item a:hover {
  color: #3f7f7a;
  text-decoration: none;
}

@media (min-width: 992px) {
  #masthead_project {
    min-height: 20rem;
    padding-top: calc(72px+8rem);
    padding-bottom: 0;
  }
  #masthead_project h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  #masthead_project h1 {
    font-size: 3.5rem;
  }
}

figure {
  background: #fff;
  margin-bottom: 45px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.04), 0 2px 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.04), 0 2px 10px 0 rgba(0, 0, 0, 0.06);
}

figure .img-overlay-wrapper {
  position: relative;
  overflow: hidden;
}

figure .image-wrapper {
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}

figure img {
  position: absolute;
  max-height: 140%;
  max-width: 150%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

figure:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

figure:hover .overlay {
  opacity: 1;
  visibility: visible;
}

figure .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

figure .overlay a {
  display: inline-block;
  font-weight: 300;
  color: #fff;
  padding: 10px 23px;
  line-height: 1;
  border: 1px solid #fff;
  border-radius: 0px;
  margin: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

figure .overlay a:hover {
  text-decoration: none;
}

figure figcaption {
  padding: 1rem;
  color: #656768;
}

figure figcaption h3 {
  font-size: 1.2rem;
  margin: 0;
  color: #3f7f7a;
}

.fancybox-caption__body {
  font-weight: 300;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.grid-sizer,
.grid-item {
  width: 100%;
}

.width-vertical {
  width: 50%;
}

@media (min-width: 576px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
  .width-horizontal,
  .width-horizontal-big {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .grid-sizer,
  .grid-item {
    width: 33.33%;
  }
  .width-horizontal {
    width: 66.66%;
  }
  .width-horizontal-big {
    width: 100%;
  }
}

#masonry .overlay-wrapper {
  overflow: hidden;
  position: relative;
}

#masonry .overlay-wrapper img {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#masonry .overlay-wrapper:hover img, #masonry .overlay-wrapper.hover_effect img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#masonry .overlay-wrapper:hover .overlay, #masonry .overlay-wrapper.hover_effect .overlay {
  opacity: 1;
}

#masonry .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

#masonry .overlay a {
  display: inline-block;
  color: #fff;
  font-weight: 300;
  padding: 10px 23px;
  line-height: 1;
  border: 1px solid #fff;
  border-radius: 0px;
  margin: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#masonry .overlay a:hover {
  text-decoration: none;
}

#masonry .overlay-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
}

#about-me h2 {
  font-size: 1rem;
}

#about-me p {
  font-weight: 300;
  line-height: 2rem;
  text-indent: 2rem;
}

#about-me .ps {
  line-height: 1rem;
  font-size: 0.8rem;
}

#about-me a {
  color: Black;
}

#about-me span {
  display: inline;
}

footer.footer {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #c5c5c5;
}

footer.footer .social-link {
  display: block;
  height: 3rem;
  width: 3rem;
  line-height: 3.5rem;
  font-size: 1.5rem;
  color: #dcdcdd;
  background-color: #3f7f7a;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}

footer.footer .social-link:hover {
  background-color: #2e5d59;
  text-decoration: none;
}
