@import url("https://fonts.googleapis.com/css?family=Cormorant:600|Josefin+Sans:300,300i,400&display=swap");
body {
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Verdana, Arial, "Noto Sans", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  background-color: #dcdcdd;
  color: #0B0C00;
}

h1, h2 {
  font-family: "Cormorant", "Garamond", "Georgia", "Times New Roman", Times, serif;
}

@media (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 1.3rem;
  }
}

hr {
  border: 0.5px solid #4C5B61;
  margin: 0.2rem 0 0;
}

:focus,
button:focus {
  outline: #3f7f7a auto 3px;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f5f5;
  /* change if the mask should be a color other than white */
  z-index: 1000;
  /* makes sure it stays on top */
}

.pre-container {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
          animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.nav-footer {
  font-weight: 300;
  font-family: "Cormorant", "Garamond", "Georgia", "Times New Roman", Times, serif;
}

.nav-footer a {
  color: #4C5B61;
}

.nav-footer a:hover {
  color: #3f7f7a;
  text-decoration: none;
}

#wrapper_404 {
  padding-top: 8rem;
  padding-bottom: calc(8rem - 72px);
}

#wrapper_404 h1 {
  font-size: 15rem;
  color: #3f7f7a;
}

#wrapper_404 h2 {
  font-size: 2rem;
  margin-top: 0;
}

#wrapper_404 p {
  font-weight: 300;
}

#wrapper_404 .btn {
  background: #3f7f7a;
  border: none;
  color: #F7F7F7;
  padding: 20px 35px;
  margin-top: 10px;
  font-size: 16px;
  font-size: 13px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: normal;
  border-radius: 0;
}

@media (max-width: 350px) {
  #wrapper_404 h1 {
    font-size: 10rem;
  }
}

.dropdown-item {
  color: #4C5B61;
}

.dropdown-item:hover, .dropdown-item:active, .dropdown-item.active {
  color: #3f7f7a !important;
  background-color: transparent;
}

#mainNav {
  font-family: "Cormorant", "Garamond", "Georgia", "Times New Roman", Times, serif;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  background-color: #dcdcdd;
}

#mainNav .navbar-brand {
  font-weight: bold;
  color: #4C5B61;
}

#mainNav li {
  list-style: none;
}

#mainNav ul {
  padding: 0;
}

#mainNav .navbar-nav .nav-link {
  color: #4C5B61;
  font-weight: normal;
  padding: 0.3rem 0;
}

#mainNav .navbar-nav .nav-link:hover, #mainNav .navbar-nav .nav-link:active, #mainNav .navbar-nav .nav-link.active {
  color: #3f7f7a;
}

#mainNav .navbar-nav .dropdown-menu {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #dcdcdd;
  border: 0;
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: #dcdcdd;
  }
  #mainNav .navbar-nav .nav-link {
    padding: 0 1rem;
    color: #dcdcdd;
  }
  #mainNav .navbar-nav:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav .navbar-nav .dropdown-menu {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
  }
  #mainNav.navbar-scrolled {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #dcdcdd;
  }
  #mainNav.navbar-scrolled .navbar-brand,
  #mainNav.navbar-scrolled .nav-link {
    color: #4C5B61;
  }
  #mainNav.navbar-scrolled .dropdown-menu {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #dcdcdd !important;
    border: 0;
  }
}

#masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(220, 220, 221, 0.6)), to(rgba(220, 220, 221, 0.6))), url("../img/Profile.JPG");
  background: linear-gradient(to bottom, rgba(220, 220, 221, 0.6) 0%, rgba(220, 220, 221, 0.6) 100%), url("../img/Profile.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

#masthead h1 {
  font-size: 2.25rem;
}

@media (min-width: 992px) {
  #masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 72px;
    padding-bottom: 0;
  }
  #masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  #masthead h1 {
    font-size: 3.5rem;
  }
}

#masthead_portfolio {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  font-weight: 300;
}

#masthead_portfolio h1 {
  font-size: 2.25rem;
  font-weight: 300;
}

#masthead_portfolio .category {
  font-size: 0.8rem;
}

#masthead_portfolio a {
  color: #0B0C00;
}

#masthead_portfolio a:hover {
  color: #3f7f7a;
  text-decoration: none;
}

#masthead_portfolio .breadcrumb {
  background: none;
  padding: 8px 0;
}

#masthead_portfolio .breadcrumb .active {
  color: #3f7f7a;
}

#masthead_portfolio .breadcrumb-item {
  color: #4C5B61;
}

#masthead_portfolio .breadcrumb-item a {
  color: #4C5B61;
}

#masthead_portfolio .breadcrumb-item a:hover {
  color: #3f7f7a;
  text-decoration: none;
}

@media (min-width: 992px) {
  #masthead_portfolio {
    min-height: 20rem;
    padding-top: calc(72px+10rem);
    padding-bottom: 1rem;
  }
  #masthead_portfolio h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  #masthead_portfolio h1 {
    font-size: 3.5rem;
  }
}

.illustrations {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(220, 220, 221, 0.6)), to(rgba(220, 220, 221, 0.6))), url("../img/Illustrations/Japan_Countryside_.jpg") no-repeat scroll center;
  background: linear-gradient(to bottom, rgba(220, 220, 221, 0.6) 0%, rgba(220, 220, 221, 0.6) 100%), url("../img/Illustrations/Japan_Countryside_.jpg") no-repeat scroll center;
  background-size: cover;
}

.book {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(220, 220, 221, 0.6)), to(rgba(220, 220, 221, 0.6))) url("../img/book/Japan_book1.png") no-repeat scroll center;
  background: linear-gradient(to bottom, rgba(220, 220, 221, 0.6) 0%, rgba(220, 220, 221, 0.6) 100%) url("../img/book/Japan_book1.png") no-repeat scroll center;
  background-size: cover;
}

.aboutMe {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(186, 186, 186, 0.9)), to(rgba(220, 220, 221, 0.9))), url("../img/Background/domenico-loia-hGV2TfOh0ns-unsplash.jpg") no-repeat scroll center;
  background: linear-gradient(to bottom, rgba(186, 186, 186, 0.9) 0%, rgba(220, 220, 221, 0.9) 100%), url("../img/Background/domenico-loia-hGV2TfOh0ns-unsplash.jpg") no-repeat scroll center;
  background-size: cover;
}

.resumeHead {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(186, 186, 186, 0.7)), to(rgba(220, 220, 221, 0.7))), url("../img/Background/dnl06_2019_193CollegeAve-17.jpg") no-repeat scroll center;
  background: linear-gradient(to bottom, rgba(186, 186, 186, 0.7) 0%, rgba(220, 220, 221, 0.7) 100%), url("../img/Background/dnl06_2019_193CollegeAve-17.jpg") no-repeat scroll center;
  background-size: cover;
}

.graphic-design {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(186, 186, 186, 0.95)), to(rgba(220, 220, 221, 0.9))), url("../img/Illustrations/dnl12_2018_Creativity and Design-4-2.jpg") no-repeat scroll center;
  background: linear-gradient(to bottom, rgba(186, 186, 186, 0.95) 0%, rgba(220, 220, 221, 0.9) 100%), url("../img/Illustrations/dnl12_2018_Creativity and Design-4-2.jpg") no-repeat scroll center;
  -webkit-box-shadow: 0 -20px 15px 5px #dcdcdd inset;
          box-shadow: 0 -20px 15px 5px #dcdcdd inset;
  background-size: cover;
}

.img-overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.image-wrapper {
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}

#portfolio figure {
  background: #F7F7F7;
  margin-bottom: 45px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.04), 0 2px 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.04), 0 2px 10px 0 rgba(0, 0, 0, 0.06);
}

#portfolio figure img {
  position: absolute;
  max-height: 140%;
  max-width: 150%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#portfolio figure:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#portfolio figure:hover .overlay {
  opacity: 1;
  visibility: visible;
}

#portfolio figure .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#portfolio figure .overlay a {
  display: inline-block;
  font-weight: 300;
  color: #F7F7F7;
  padding: 10px 23px;
  line-height: 1;
  border: 1px solid #F7F7F7;
  border-radius: 0px;
  margin: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#portfolio figure .overlay a:hover {
  text-decoration: none;
}

#portfolio figure figcaption {
  padding: 1rem;
  color: #4C5B61;
}

#portfolio figure figcaption h3 {
  font-size: 1.2rem;
  margin: 0;
  color: #3f7f7a;
}

.fancybox-caption__body {
  font-weight: 300;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.grid-sizer,
.grid-item {
  width: 100%;
}

.width-vertical {
  width: 50%;
}

@media (min-width: 576px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
  .width-horizontal,
  .width-horizontal-big {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .grid-sizer,
  .grid-item {
    width: 33.33%;
  }
  .width-horizontal {
    width: 66.66%;
  }
  .width-horizontal-big {
    width: 100%;
  }
}

#masonry .overlay-wrapper {
  overflow: hidden;
  position: relative;
}

#masonry .overlay-wrapper img {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#masonry .overlay-wrapper:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#masonry .overlay-wrapper:hover .overlay {
  opacity: 1;
}

#masonry .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

#masonry .overlay a {
  display: inline-block;
  color: #fff;
  font-weight: 300;
  padding: 10px 23px;
  line-height: 1;
  border: 1px solid #fff;
  border-radius: 0px;
  margin: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#masonry .overlay a:hover {
  text-decoration: none;
}

#masonry .overlay-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
}

/*---------------------
	global
-----------------------*/
#resume h1,
#resume h2,
#resume h3 {
  text-transform: uppercase;
}

#resume h2 {
  font-size: 1.5rem;
}

#resume h3 {
  /* job names */
  font-size: 1rem;
  margin-bottom: 0.2rem;
  margin-top: 0px;
}

#resume h4 {
  /* job location */
  margin: 0;
  color: #4C5B61;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

#resume h4 ~ p {
  margin: 0 auto 0 2.5rem;
}

#resume p, #resume li {
  font-weight: 300;
}

#resume ul {
  list-style-type: none;
}

#resume h4 ~ p:before, #resume li:before {
  content: "\2022";
  color: #4C5B61;
  display: inline-block;
  font-weight: bold;
  width: 1rem;
  margin-left: -1rem;
}

#resume hr {
  margin-bottom: 1rem;
}

.main-left-area {
  background: #F7F7F7;
}

/*SkillBar
  -------------------------*/
.progress-bar-container {
  margin-bottom: 1rem;
  width: 100%;
  max-width: 250px;
  height: 0.5rem;
  background: #bababa;
  background: rgba(76, 91, 97, 0.2);
  overflow: hidden;
  border-radius: 2px;
}

.progress-bar-value {
  height: 0.5rem;
  float: left;
  background: rgba(76, 91, 97, 0.75);
}

.value-95 {
  width: 95%;
}

.value-90 {
  width: 90%;
}

.value-80 {
  width: 80%;
}

.value-65 {
  width: 65%;
}

.value-30 {
  width: 30%;
}

.skills p {
  margin-bottom: 0.2rem;
  /* margin-top: 0.5em; */
  /* space between skill name and skill bars*/
}

/*---------------------
	responsive
-----------------------*/
@media (min-width: 768px) {
  .resume-date {
    min-width: 12rem;
  }
}

#about-me h2 {
  font-size: 1.2rem;
}

#about-me p {
  font-weight: 300;
  line-height: 2rem;
  text-indent: 2rem;
}

#about-me p a {
  color: #0B0C00;
}

#about-me .ps {
  line-height: 1rem;
  font-size: 0.8rem;
  font-style: italic;
}

#about-me span {
  display: inline;
}

#about-me body {
  background: #F9F9F9;
}

#about-me .figure-caption {
  color: #4C5B61;
}

#about-me .figure-caption a {
  color: #4C5B61;
}

#about-me .myaccordion {
  margin: 1rem auto;
}

#about-me .myaccordion .card {
  border: 0px solid rgba(0, 0, 0, 0.125);
  background: transparent;
}

#about-me .myaccordion .card-header {
  border-bottom-color: #4C5B61;
  background: transparent;
  padding-left: 0;
}

#about-me .myaccordion .btn {
  width: 100%;
  color: #0B0C00;
  padding: 0;
}

#about-me .myaccordion .btn-link:hover,
#about-me .myaccordion .btn-link:focus {
  text-decoration: none;
  color: #3f7f7a;
}

#filter-gallery {
  /* pager */
}

#filter-gallery .cycle-slideshow {
  margin: 1.5rem auto;
  padding: 0;
  position: relative;
  overflow: hidden;
  height: 100vh;
  /* in case script does not load */
}

#filter-gallery .cycle-slideshow img:first-child {
  position: static;
  z-index: 100;
}

#filter-gallery .example-pager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 500;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

#filter-gallery .example-pager a {
  font-size: 1rem;
  font-weight: 300;
  display: inline-block;
  padding: 6px 24px;
  color: #dcdcdd;
  background-color: #3f7f7a;
}

#filter-gallery .example-pager a:first-child {
  border-radius: 5px 0 0 5px;
}

#filter-gallery .example-pager a:last-child {
  border-radius: 0 5px 5px 0;
}

#filter-gallery .example-pager a.cycle-pager-active, #filter-gallery .example-pager a:hover {
  background-color: #1d3b39;
  text-decoration: none;
}

@media (min-width: 576px) {
  #filter-gallery .example-pager a {
    font-size: 1.3rem;
  }
}

footer.footer {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #bababa;
}

footer.footer .social-link {
  display: block;
  height: 3rem;
  width: 3rem;
  line-height: 3.5rem;
  font-size: 1.5rem;
  color: #dcdcdd;
  background-color: #3f7f7a;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}

footer.footer .social-link:hover {
  background-color: #2e5d59;
  text-decoration: none;
}
