#about-me{
    h2{
        font-size: 1rem;
    }
    p{
        font-weight: 300;
        line-height: 2rem;
        text-indent: 2rem;
    }
    .ps{
        line-height: 1rem;
        font-size: 0.8rem;
    }
    a{
        color: Black;
    }
    span{
        display:inline;
    }
    
}