// home page masthead
#masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - #{$navbar-height});
  background: linear-gradient(to bottom, #{fade-out($gainsboro, .4)} 0%, #{fade-out($gainsboro, .4)} 100%),
  url('../img/Profile.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  h1 {
    font-size: 2.25rem;
  }

  .btn-primary {
    font-weight: lighter;
    background: $primary;
    // border: none;
    color: $baby-powder;
    padding: 15px 20px;
    margin-right: 20px;
    margin-top: 10px;
    // border-radius: 0;
    line-height: 1;

    &:hover {
      background: darken($primary, 10%);
      text-decoration: none;

    }
  }

  .btn-outline-primary {
    font-weight: lighter;
    color: $baby-powder;
    padding: 15px 20px;
    margin-top: 2rem;
    background: transparent;
    line-height: 1;
    border: 1px solid $baby-powder;
    // border-radius: 0px;

    &:hover {
      text-decoration: none;
      background: $primary;
      border: 1px solid $primary;
    }
  }

  @media (min-width: 992px) {
    height: 100vh;
    min-height: 40rem;
    padding-top: $navbar-height;
    padding-bottom: 0;

    h1 {
      font-size: 3rem;
    }
  }

  @media (min-width: 1200px) {
    h1 {
      font-size: 3.5rem;
    }
  }
}