/*---------------------
	global
-----------------------*/
#resume {

	h1,
	h2,
	h3 {
		text-transform: uppercase;
	}

	h2 {
		// font-weight: 400;
		font-size: 1.5rem;
	}

	h3 {
		/* job names */
		font-size: 1rem;
		margin-bottom: 0.2rem;
		margin-top: 0px;
	}

	h4 {
		/* job location */
		margin: 0;
		// font-weight: 300;
		color:$outer-space;
		margin-bottom: 0.5rem;
		font-size: 1rem;
	}
	
	h4~p {
		margin: 0 auto 0 2.5rem;
	}
	p, li{
		font-weight:300;
	}
	ul{
		list-style-type: none;
	}
	h4~p:before, li:before {
		content: "\2022";
		color: $outer-space;
		display: inline-block;
		font-weight: bold;
		width: 1rem;
		margin-left: -1rem;
	}
	a{
		color:$primary;
	}

	hr {
		margin-bottom: 1rem;
	}
}

.main-left-area {
	background: $baby-powder;
}

// .main-right-area {
// 	background: $baby-powder;
// }

/*SkillBar
  -------------------------*/
.progress-bar-container {
	margin-bottom: 1rem;
	width: 100%;
	max-width: 250px;
	height: 0.5rem;
	background: $silver-sand;
	background: rgba($outer-space, .2);
	overflow: hidden;
	border-radius: 2px;
}

.progress-bar-value {
	height: 0.5rem;
	float: left;
	background: rgba($outer-space, 0.75);
}

.value-95 {
	width: 95%;
}

.value-90 {
	width: 90%;
}

.value-80 {
	width: 80%;
}

.value-65 {
	width: 65%;
}

.value-30 {
	width: 30%;
}

.skills p {
	margin-bottom: 0.2rem;
	/* margin-top: 0.5em; */
	/* space between skill name and skill bars*/
}

/*---------------------
	responsive
-----------------------*/
@media (min-width: 768px) {
	.resume-date {
		min-width: 12rem;
	}
}

// @media (min-width: 992px) {
// 	section.resume-section {
// 		padding-top: 3rem !important;
// 		padding-bottom: 3rem !important;
// 	}
// }

// @media (min-width: 768px) and (max-width: 991.98px) {

// }