// Variables

// restate bootstrap variables
$white: #fff !default;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15) !default;


// Set a custom color
$baby-powder: #F7F7F7 !default;
$gainsboro: #dcdcdd  !default;
$silver-sand: #bababa  !default;
$outer-space: #4C5B61 !default;
$viridian: #3f7f7a !default;
$black: #0B0C00 !default;


// Set primary color to orange
$primary: $viridian !default;


// Font overrides
@import url('https://fonts.googleapis.com/css?family=Cormorant:300i,600|Josefin+Sans:300,300i,400&display=swap');

$font-family-sans-serif: "Josefin Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif !default;

$font-family-serif: "Cormorant", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;


// Custom variables
$navbar-height: 72px;
